<div class="row">
  <div class ="span9">
    <h1>Business Profiles</h1>
    <br />
  </div>
  <div class="span3">
    <p><%= link_to "Create your business profile", new_business_profile_path, :class => "btn btn-success" %></p>
  </div>
</div>

<div class="row">
  <div class="span3">
      <h3>View by type</h3>
      <% if @profile_types %>
        
        <% @profile_types.each do |profile_type| %>
        <p>
          <%= link_to profile_type.name, business_profiles_url(:tag => profile_type), :class => "btn btn-info btn-fixed-width-3" %>
        </p>
        <% end %>
      <% end %>
      <p>
        <%= link_to 'Clear filter', business_profiles_url, :class => "btn btn-warning btn-fixed-width-3" %>
      </p>
    </div>

  <div class="span9">
    <br />
    <table class="table">
      <tr>
        <th width="10%"></th>
        <th width="25%">Name</th>
        <th width="40%">Description</th>
        <th>Business type</th>
        </tr>   

    <% @business_profiles.each do |business_profile| %>

      <tr>
        <td><%= image_tag(business_profile.image_url(:thumb), :class => "profile-pic") %></td>
        <td><strong><%= link_to business_profile.name, business_profile_path(business_profile) %></strong></td>
        <td><%= business_profile.description[0..200] %></td>
        <td>
          <% business_profile.profile_types.each do |pt| %>
            <%= link_to pt.name, business_profiles_url(:tag => pt) %><br />
          <% end %>
        </td>      </tr>

    <% end %>
  </table>
</div>
</div>


<br />

