<div class="row">
  <div class ="span12">
    <h1>Create a profile</h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>1. Personal profile</h2>
    <% if current_user.user_profile %>
      <p>Thank you for creating a presonal profile.</p>
        <%= link_to 'View', user_profile_path(current_user.user_profile), :class=> "btn btn-info" %>
        <%= link_to 'Edit', user_path(current_user), :class=> "btn btn-warning" %>
      </p>
    <% else %>
      <p>Create a personal profile and be known amongst the Sydney tech startup scene.
      <p><%= link_to 'Create your personal profile', new_user_profile_path, :class => "btn btn-success" %></p>
    <% end %>
  </div>
  <div class="span4">
    <h2>2. Business profile</h2>
    <p>Create a profile for your startup or business. Raise awareness of your business to other startups and tech journalists.</p>
    <p><%= link_to "Create a new business profile", new_business_profile_path, :class => "btn btn-success" %></p>
    <% if current_user.business_profiles %>
      <table class="table table-condensed">
        <% current_user.business_profiles.each do |profile| %>
        
          <tr>
            <td><%= image_tag(profile.image_url(:thumb), :class => "home-pic") %></td>
            <td><strong><%= link_to profile.name, business_profile_path(profile) %></strong></td>
            <td>
              <%= link_to 'View', business_profile_path(profile), :class=> "btn btn-info" %>
              
              
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="span4">
    <h2>3. Spread the word</h2>
    <p>Share the love! Encourage your colleagues and friends in the startup community to come on board. The more, the merrier!</p>
  </div>
</div>



