<div class="row">
<div class="span3">
  <h3>My account</h3>
  <p>Username: <%= @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <br />
  <%= link_to 'Change email/password', edit_user_registration_path, :class => "btn btn-info" %>

  <br />
  <hr>
  
</div>

<div class="span5">
  <h2>My profile</h2>
  <% if current_user.user_profile %>
    
    <p><%= image_tag @user_profile.image_url(:thumb), :class => "profile-pic" if @user_profile.image_url %></p>
    <table class="table">
      <tr>
        <th>Tagline</th>
        <td><%= @user_profile.tagline %></td>
      </tr>
      <tr>
        <tr>
        <th>Email</th>
        <td><%= @user_profile.email %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= @user_profile.phone %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= @user_profile.url %></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td><%= @user_profile.twitter %></td>
      </tr>
      <tr>
        <th>Facebook</th>
        <td><%= @user_profile.facebook %></td>
      </tr>
      <tr>
        <th>Google+</th>
        <td><%= @user_profile.google %></td>
      </tr>
      <tr>
        <th>LinkedIn</th>
        <td><%= @user_profile.linkedin %></td>
      </tr>
      <tr>
        <th>Github</th>
        <td><%= @user_profile.github %></td>
      </tr>

      <tr>

    </table>
    <%= link_to 'Edit profile', edit_user_profile_path(@user_profile), :class => "btn btn-info" %>
    <%= link_to 'View profile', user_profile_path(current_user.user_profile), :class => "btn btn-info" %>
  
  <% else %>
    <%= link_to 'Create your profile', new_user_profile_path, :class => "btn btn-success" %>
  <% end %>

</div>
<div class="span4">
  <h3>My business profiles</h3>
  <% if @user.business_profiles.count > 0 %>
     <% @user.business_profiles.each do |business_profile| %>
     <p><b><%= link_to business_profile.name, business_profile_path(business_profile) %></b>
      (<%= business_profile.profile_type.name %>)</p>
    <% end %>
  <% else %>
    <p><%= link_to "Create a new business profile", new_business_profile_path, :class => "btn btn-success" %></p>
  <% end %>
</div>
</div>