<div class="container">
  <p id="notice"><%= notice %></p>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
        <div class="span6 ">
          <h3><i class="icon-building icon-3x"></i> Recently added startup profiles</h3>
          <table class="table table-condensed">
            <% if @business_profiles.count > 0 %>
            <% @business_profiles.each do |profile| %>
            
              <tr>
                <td><%= image_tag(profile.image_url, :class => "home-pic") %></td>
                <td><strong><%= link_to profile.name, business_profile_path(profile) %></strong></td>
                
              </tr>
            <% end %>
          <% end %>
          
          </table>



          <div class="pull-right"><%= link_to 'See more', business_profiles_path, :class => "btn btn-primary" %><br><br></div>
          
        </div><!-- /.span4 -->
        <div class="span6 ">
          <h3><i class="icon-group icon-3x"></i> Recently added user profiles</h3>
          <table class="table table-condensed">
            <% if @user_profiles.count > 0 %>
            <% @user_profiles.each do |user_profile| %>
            
              <tr>
                <td><%= image_tag(user_profile.image_url, :class => "home-pic") %></td>
                <td width="25%"><strong><%= link_to user_profile.user.name, user_profile_path(user_profile) %></strong></td>
                <td width="60%"><%= user_profile.tagline[0..60] %><%= link_to '...', user_profile_path(user_profile) %></td>
              </tr>
            <% end %>
          <% end %>
          </table>
          <div class="pull-right"><%= link_to 'See more', user_profiles_path, :class => "btn btn-primary" %><br><br></div>
        </div><!-- /.span4 -->
      </div><!-- /.row -->



