<div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          
          <h2>Be part of your startup community</h2>
          <p>
            Join your fellow Sydney entrepreneurs, find out where they work, who they work with. Connect with tech journalists, VCs and find businesses that specialise in servicing startups.
          </p>
          
        </div><!-- /.span4 -->
        <div class="span4">
          
          <h2>Recently added startups</h2>
          <table class="table table-condensed">
            <% if @business_profiles.count > 0 %>
            <% @business_profiles.each do |profile| %>
            
              <tr>
                <td><%= image_tag(profile.image_url(:thumb), :class => "home-pic") %></td>
                <td><strong><%= link_to profile.name, business_profile_path(profile) %></strong></td>
                <td><%= link_to profile.profile_types.first.name, business_profiles_url(:tag => profile.profile_types.first), :class => "btn btn-info" %></td>
              </tr>
            <% end %>
          <% end %>
          </table>


          
        </div><!-- /.span4 -->
        <div class="span5">
          <h2>Recently added profiles</h2>
          <table class="table table-condensed">
            <% if @user_profiles.count > 0 %>
            <% @user_profiles.each do |user_profile| %>
            
              <tr>
                <td><%= image_tag(user_profile.image_url(:thumb), :class => "home-pic") %></td>
                <td width="25%"><strong><%= link_to user_profile.user.name, user_profile_path(user_profile) %></strong></td>
                <td width="60%"><%= user_profile.tagline[0..60] %><%= link_to '...', user_profile_path(user_profile) %></td>
              </tr>
            <% end %>
          <% end %>
          </table>
        </div><!-- /.span4 -->
      </div><!-- /.row -->



