<%= simple_form_for [@user, @user_profile], :input_html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :tagline, :input_html => { :class => "xxlarge" }, :label => 'Describe yourself in one line' %>
    <%= f.input :about, :input_html => { :rows => 5, :class => "span7" }, :label => 'About me - please introduce yourself, your startups/businesses, skills, interests', :required => true %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :url, :label => 'Your personal website or blog URL' %>
    <%= f.input :twitter, :label => 'Twitter handle', :placeholder => '@twitter' %>
    <%= f.input :facebook, :label => 'Facebook profile URL' %>
    <%= f.input :google, :label => 'Google+ profile URL' %>
    <%= f.input :linkedin, :label => 'LinkedIn profile URL' %>
    <%= f.input :github, :label => 'Github profile URL' %>
    <%= f.input :linkedin, :label => 'LinkedIn profile URL' %>
    <%= f.input :github, :label => 'Github profile URL' %>
    <p>Current profile pic<br /><%= image_tag @user_profile.image_url,:class => "profile-pic" if @user_profile.image_url %></p>
    <%= f.input :image, :as => :file, :label => 'Choose new image' %>
  </div>

  
    <%= f.submit 'Update your profile', :class => "btn btn-success" %>
  
<% end %>
