<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact Form received from The Startup Community</h1>

    <Table>
      <tr>
        <td><strong>Name:</td>
        <td><%= @contact.name %></td>
      </tr>
      <tr>
        <td><strong>Email:</td>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <td><strong>Phone:</td>
        <td><%= @contact.phone %></td>
      </tr>
      <tr>
        <td><strong>Subject:</td>
        <td><%= @contact.subject %></td>
      </tr>
      <tr>
        <td><strong>Content:</td>
        <td><%= @contact.content %></td>
      </tr>
    </table>
  </body>
</html>