
<footer>
  
  
      <div class="container">

        <div class="navbar navbar-fixed-bottom">
          <div class="navbar-inner">
           
            
            
              <ul class="nav">
                <li><a>&copy; 2013 The Startup Community</a></li>
                <li><a href="http://www.sydneydevcamp.com" target"_blank">Powered by <%= image_tag('FB-logo.png', :class => "footer-logo") %> <span style="color:yellow">Sydney Dev Camp</span></a></li>
                <li><%= link_to 'Privacy', privacy_path %></li>
                <li><%= link_to 'Terms', terms_path %></li>
                <li><%= link_to 'Contact', new_contact_form_path, :title => "Report abuse/problems, suggest a feature" %></li>
             <!--     <li><%= link_to 'About', about_path, :title => "About The Startup Community" %></li> -->
                   <li><a href="https://twitter.com/SydSUCommunity" alt="Twitter for The Startup Community Sydney"><i class="icon-twitter"></i></a></li>
                
                  <% if current_user.has_role? :admin %>
                    <li><%= link_to 'Admin', admin_path %></li>
                  <% end %>
                
              </ul>
              
            
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
</footer>
