<% cache('navigation_in') do %>    
<!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          <div class="navbar-inner">
            
            
            <%= link_to "The Startup Community - Sydney", root_path, :class => 'brand' %>
            
              <ul class="nav">
                <li><%= link_to 'Profiles', user_profiles_path %></li>
                <li><%= link_to 'Startups', business_profiles_path %></li>
                <li><%= link_to 'Sydney Startup Map', startup_maps_path %></li>
              </ul>
             
              <ul class="nav pull-right">
                
                  <li><%= link_to 'My account', user_path(current_user) %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
                
              </ul>
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
<% end %>